<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Aplicación</title>
</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href={% url 'home' %}>Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'login' %}>Ingresar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'register' %}>Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'logout' %}>Salir</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'login' %}>Ingresar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href={% url 'register' %}>Registrarse</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>