{% extends 'core/base.html' %}

{% block content %}

{% load static %}

<h3>Home</h3>
    {% if request.user.is_authenticated %}
        <hr>
        <h4>
            {{ user.first_name | upper }}, bienvenido estás en la vista Home
            <br>
            <br>
            <h1>Diagrama UML</h1>
            <br>
            <br>
            <img src="{% static "imagenes/diagrama.png" %}" alt="Diagrama UML">
        </h4>
    {% endif %}

{% endblock %}