@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    align-items: center;
    background-image: url('../img/background-login.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header"
        "nav content sidebar"
        "footer footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    padding: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    opacity: 80%;
}

.logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.nav {
    padding: 0rem;
    background-color: transparent;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    position: relative;
    text-decoration: none;
    color: white;
}

.nav-list li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.nav-list li a:hover::after {
    transform: scaleX(1);
}

.abrir-menu,
.cerrar-menu {
    display: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 700px){
    .abrir-menu {
        font-size: 1.2rem;
    }

    .cerrar-menu {
        font-size: 1rem;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}

nav {   
    grid-area: nav;
    padding: 2rem;
    background-color: transparent;
}

main {
    grid-area: content;
    padding-top: 7rem;
    background-color: transparent;
}

.container-form {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
    color: black;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-image: url('../img/background-button-login.png');
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-image: url();
    background-color: darkred;
}

.formulario {
    padding: 2rem;
    margin: 4rem;
    background-color: beige;
    text-align: center;
    opacity: 90%;
}

.create-acount {
    padding: 2.7rem 0;
    font-size: 1.9rem;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario .input {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: black;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
    opacity: 70%;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-image: url('../img/background-button-login.png');
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;
    transition: all .2s ease-in;
}

.formulario input[type="button"]:hover {
    background-image: url('');
    background-color: darkred;
}

aside {
    grid-area: sidebar;
    padding: 2rem;
    background-color: transparent;
}

footer {
    grid-area: footer;
    background: #111;
    height: auto;
    color: #fff;
    padding-top: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.5rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: darkred;
}

.footer-bottom {
    background: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .9;
    font-weight: 200;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "header"
            "content"
            "footer";
    }
}

