<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <p class="logo">
                <i class="bi bi-camera-fill"></i>Perspectiva
            </p>
            <button class="abrir-menu" id="abrir">
                <i class="bi bi-list"></i>
            </button>
            <nav class="nav" id="nav">
                <button class="cerrar-menu" id="cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
                <ul class="nav-list">
                    <li><a class="navbar-brand" href="{% url 'inicio' %}">inicio</a></li>
                    <li><a href="{% url 'registro' %}">Registro</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container-form sign-in">
                <div class="welcome-back">
                    <form class="formulario" method="POST">
                        {% csrf_token %}
                        <h2 class="create-account">Iniciar Sesion</h2>
                        <p class="cuenta-gratis">¿Aun no tienes una cuenta?</p>
                        {{ form_login.usuario }}
                        {% comment %}
                        <input class="input" id="correo" type="email" placeholder="Email">
                        {% endcomment %}
                        {{ form_login.clave }}
                        {% comment %}
                        <input class="input" id="contraseña" type="password" placeholder="Contraseña" required>
                        {% endcomment %}
                        <div>
                            <input type="submit" value="Iniciar Sesion">
                        </div>
                    </form>
                    <div class="message">
                        <h2>Bienvenido de nuevo</h2>
                        <p>Si aun no tienes una cuenta por favor registrese aqui</p>
                        <a href="{% url 'registro' %}">
                            <button class="sign-in-btn">Registrarse</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Perspectiva</h3>
            <p>"No fotografíes las cosas como aparecen, <br>
                fotografíalas como las sientes". <br>
                David Alan Harvey</p>
            <ul class="socials">
                <li><a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook-circle'></i></a> </li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a> </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2023 Perspectiva, designed by <span>Dione Castillo Vela</span></p>
        </div>
    </footer>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>