<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website with Login Page HTML CSS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style-cursos.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <p class="logo">
                <i class="bi bi-camera-fill"></i>Perspectiva
            <h1 class="bienvenido" id="encabezado"></h1>
            </p>
            <h1 class="tienda">TIENDA DE CURSOS</h1>
            <button class="abrir-menu" id="abrir">
                <i class="bi bi-list"></i>
            </button>
            <nav class="nav" id="nav">
                <button class="cerrar-menu" id="cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
                <ul class="nav-list">
                    <li><a class="navbar-brand" href="{% url 'inicio' %}">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="contenedor-section">
                <!-- Contenedor de elementos -->
                <div class="centering">
                    <div>
                        <h1>Detalle Producto</h1>
                    </div>
                    <div>nombre : {{producto.nom_producto}} </div>
                    <div>detalle : {{producto.detalle_producto}} </div>
                    <div>estado : {{producto.estado}} </div>
                    <div>valor : ${{producto.valor}} </div>
                
                </div>
                    <!--
                    <div class="item">
                        <span class="titulo-item">INICIACIÓN FOTOGRÁFICA</span>
                        <img src="{% static 'img/iniciación-fotográfica.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$290.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">ILUMINACIÓN Y RETRATO</span>
                        <img src="{% static 'img/iluminación-retrato.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$250.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">LIGHTROOM</span>
                        <img src="{% static 'img/lightroom.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$350.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">PHOTOSHOP</span>
                        <img src="{% static 'img/photoshop.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$180.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">MARKETING DIGITAL PARA FOTOGRÁFOS</span>
                        <img src="{% static 'img/marketing-digital.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$320.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">INICIACIÓN A LA FOTOGRAFÍA NOCTURNA</span>
                        <img src="{% static 'img/iniciación-fotografía-nocturna.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$240.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">FOTOGRAFÍA ARQUITECTÓNICA</span>
                        <img src="{% static 'img/fotografía-arquitectónica.png' %}" alt="" class="img-item">
                        <span class="precio-item">$540.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">FOTOGRAFÍA ABSTRACTA</span>
                        <img src="{% static 'img/fotografía-abstracta.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$160.000</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                    <div class="item">
                        <span class="titulo-item">FOTOGRAFÍA URBANA</span>
                        <img src="{% static 'img/fotografía-urbana.jpeg' %}" alt="" class="img-item">
                        <span class="precio-item">$420.800</span>
                        <button class="boton-item">Agregar al Carrito</button>
                    </div>
                </div>
                -->
                <!-- Carrito de Compras -->
                <div class="carrito" id="carrito">
                    <div class="header-carrito">
                        <h2>Tu Carrito</h2>
                    </div>

                    <div class="carrito-items">
                        <!-- 
                        <div class="carrito-item">
                            <img src="img/boxengasse.png" width="80px" alt="">
                            <div class="carrito-item-detalles">
                                <span class="carrito-item-titulo">Box Engasse</span>
                                <div class="selector-cantidad">
                                    <i class="fa-solid fa-minus restar-cantidad"></i>
                                    <input type="text" value="1" class="carrito-item-cantidad" disabled>
                                    <i class="fa-solid fa-plus sumar-cantidad"></i>
                                </div>
                                <span class="carrito-item-precio">$15.000,00</span>
                            </div>
                           <span class="btn-eliminar">
                                <i class="fa-solid fa-trash"></i>
                           </span>
                        </div>
                        <div class="carrito-item">
                            <img src="img/skinglam.png" width="80px" alt="">
                            <div class="carrito-item-detalles">
                                <span class="carrito-item-titulo">Skin Glam</span>
                                <div class="selector-cantidad">
                                    <i class="fa-solid fa-minus restar-cantidad"></i>
                                    <input type="text" value="3" class="carrito-item-cantidad" disabled>
                                    <i class="fa-solid fa-plus sumar-cantidad"></i>
                                </div>
                                <span class="carrito-item-precio">$18.000,00</span>
                            </div>
                           <button class="btn-eliminar">
                                <i class="fa-solid fa-trash"></i>
                           </button>
                        </div>
                         -->
                    </div>
                    <div class="carrito-total">
                        <div class="fila">
                            <strong>Tu Total</strong>
                            <span class="carrito-precio-total">
                                $120.000,00
                            </span>
                        </div>
                        <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Perspectiva</h3>
            <p>"No fotografíes las cosas como aparecen, <br>
                fotografíalas como las sientes". <br>
                David Alan Harvey</p>
            <ul class="socials">
                <li><a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook-circle'></i></a> </li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a> </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2023 Perspectiva, designed by <span>Dione Castillo Vela</span></p>
        </div>
    </footer>
    <script src="{% static 'js/cursos.js' %}"></script>
</body>

</html>
