<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <p class="logo">
                <i class="bi bi-camera-fill"></i>Perspectiva
            </p>
            <button class="abrir-menu" id="abrir">
                <i class="bi bi-list"></i>
            </button>
            <nav class="nav" id="nav">
                <button class="cerrar-menu" id="cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
                <ul class="nav-list">
                    <li><a class="navbar-brand" href="{% url 'login' %}">Login</a></li>
                </ul>
            </nav>
        </header>
        <nav></nav>
        <main>
            <div class="box">
                Fotografía, arte, emociones y experiencias...</h2>
            </div>
            <p>Lo importante es ver aquello que resulta invisible para los demás. <br>
                "La fotografía es mas que un medio para la comunicación efectiva de ideas. <br>
                Es un arte creativo". Ansel Adams
            </p>
        </main>
        <aside></aside>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Perspectiva</h3>
            <p>"No fotografíes las cosas como aparecen, <br>
                fotografíalas como las sientes". <br>
                David Alan Harvey</p>
            <ul class="socials">
                <li><a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook-circle'></i></a> </li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a> </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2023 Perspectiva, designed by <span>Dione Castillo Vela</span></p>
        </div>
    </footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>