{% if usuarios_listado %}
<ul>
    {% for usuario in usuarios_listado %}
    <li><a href="/usuarios/{{ usuario.id }}/">{{ usuario.username }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No usuarios are available.</p>
{% endif %}