{% if prendas_listado %}
    <ul>
    {% for prenda in prendas_listado %}
        <li><a href="/app_diseño/{{ prenda.id }}/">{{ prenda.descripcion }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No prendas are available.</p>
{% endif %}

